*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
header div{
    float: left;
    justify-content: center;
}
header .logo{
    margin-left: 200px;
    padding: 20px;
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
}
header ul{
    list-style: none;
}
header ul li{
    float: left;
    padding: 20px;
}
header ul li a{
    color: rgb(46, 45, 45);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
header ul li a:hover{
    color: #7f97ff;
    transition: all linear 0.2s;
}

/* Section one start */
.section-1{
    background-color: #f9f9ff;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.text, .img{
    width: 50%;
}
.text{
    margin-left: 230px;
    margin-bottom: 100px;
}
.img{
    padding-right: 160px;
}
.img img{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}
.text h3{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
}
.text h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    margin: 20px 0px;
}
.text p{
    color: rgba(82, 85, 85, 0.7);
}
.text input{
    padding: 10px 20px;
    outline: none;
    color: #fff;
    background-color: #7f97ff;
    border: 1px solid #7f97ff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
.text input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
    transition: all 0.5s ease-in;
}

/* Section two start */
.section-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.section-2 div{
    width: 40%;
    margin: 0px auto;
}
.section-2 img{
    width: 100%;
    height: auto;
}
.section-2 .img-2{
    padding-left: 150px;
}
.section-2 .text-2 h3{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
}
.section-2 .text-2 h1{
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0px;
}
.section-2 .text-2 p{
    color: rgba(82, 85, 85, 0.7);
    width: 80%;
    padding-bottom: 20px;
}
.section-2 .text-2 input{
    padding: 10px 20px;
    outline: none;
    color: #fff;
    background-color: #7f97ff;
    border: 1px solid #7f97ff;
    font-size: 15px;
    font-weight: bold;
}
.section-2 .text-2 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
    transition: all 0.5s ease-in;
}
/* Section three start */
.section-3{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.servicehead h1{
    font-size: 40px;
    font-weight: bold;
}
.servicehead p{
    color: rgba(82, 85, 85, 0.7);
    width: 670px;
    margin: 0 auto;
    padding-top: 10px;
}
.service{
    width: 80%;
    margin: 0 auto;
}
.service .srvc-1{
    width: 100%;
    overflow: hidden;
    
}
.service .srvc-1 .iconbox{
    width: 32%;
    float: left;
    padding: 0px 15px;
    margin: 0 auto;
    margin-top: 60px;
}
.iconbox a{
    text-decoration: none;
}
.iconbox i{
    font-size: 40px;
    color: #525151;
}
.iconbox h1{
    font-size: 18px;
    margin: 30px 0px;
    color: #525151;
}
.iconbox p{
    color: rgba(82, 85, 85, 0.7);
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
}
.iconbox:hover i{
    color: #7f97ff;
    transition: all 0.3s ease-in;
}
.iconbox:hover h1{  
    color: #7f97ff;
    transition: all 0.3s ease-in;
}
/* section three end */

.section-4{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    height: 300PX;
}
.section-4 .counter{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 120px;   
}
.section-4 .count{
    float: left;
    width: 25%;
    color: #fff;
    
}
.section-4 .count h1{
    font-size: 36px;
    padding-bottom: 5px;
    font-weight: 700;
}
/* section four end */

.section-5{
    width: 100%;
    padding-top: 120px;
}
.sectionhead h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.sectionhead p{
    color: rgba(82, 85, 85, 0.7);
    padding-top: 10px;
    text-align: center;
    padding-bottom: 60px;
}
.imgg{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}
.imggbox h1{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}
.imggbox p{
    padding-bottom: 20px;
    text-align: center;
    color: rgba(82, 85, 85, 0.7);
}
.imggbox .overlay{
    width: 340px;
    height: 339px;
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    border-radius: 8px;
    position: absolute;
    opacity: 0;
}
.imggbox .overlay img{
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 45%;
}
.imggbox .overlay img{
    top: 50% !important;
    left: 50% !important;
}
.imggbox:hover .overlay{
    opacity: 80%;
    transition: all 0.3s ease 0s;
}
/* section five end */

/* section six start */
.section-6{
    padding: 120px 0;
}
.section-6 .cartbox{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.section-6 .cart{
    padding: 40px 20px;
    background-color: rgb(249, 249, 255);
    text-align: center;
    width: 25%;
    cursor: pointer;
}
.section-6 .cart h2{
    font-size: 36px;
    font-weight: 300;
    height: 140px;
    width: 140px;
    margin: 0 auto;
    background-color: rgba(132, 144, 255, 0.1);
    display: grid;
    align-items: center;
    border-radius: 100px;
    border: 30px solid rgba(132, 144, 255, 0.1);
}
.section-6 .cart h6{
    font-size: 16px;
    padding-top: 15px;
}
.section-6 .cart p{
    font-size: 15px;
    padding: 10px 0;
    color: rgba(82, 85, 85, 0.7);
}
.section-6 .cart hr{
    outline: 0;
    border: 1px solid rgba(82, 85, 85, 0.7);;
    opacity: 50%; 
}
.section-6 .cart h1{
    font-size: 36px;
    padding-top: 30px;
    font-weight: 600;
}
.section-6 .cart button{
    outline: 0;
    border: none;
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: 600;
    display: none;
}
.section-6 .cart:hover{
    background: linear-gradient(90deg, #8490ff 50%, #62bdfc 100%);
    color: #fff;
    transition: all 0.3s;
    transform: scale(1.05);
}
.section-6 .cart:hover p{
    color: #fff;
}
.section-6 .cart:hover hr{
    border: 1px solid #fff;
    opacity: 100%;
}
.section-6 .cart:hover h1{
    display: none;
}
.section-6 .cart:hover button{
    display:block;
    margin: 0 auto;
    margin-top: 30px;
}
.section-6 .cart:hover h2{
    background-color: none;
    border: 30px solid rgba(255, 255, 255, 0.5);
}
/* section six end */

/* section seven start */
.section-7{
    background: linear-gradient(90deg, #8490ff 50%, #62bdfc 100%);
    padding: 70px 0;
}
.section-7 .imgslidebox{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-7 .imgslidebox img{
    opacity: 50%;
}
.section-7 .imgslidebox img:hover{
    opacity: 100%;
    transition: all 0.3s ease;
}
/* section seven end */

/* footer section start */
.section-8{
    background-color: #04091e;
    padding: 120px 0;
}
.section-8 .footer{
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.section-8 .footer .footertext{
    width: 40%;
    padding: 0 25px;
    margin: 0 auto;

}
.section-8 .footer .footertext:last-child{
    width: 20%;
}
.section-8 .footer .footertext h1{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
}
.section-8 .footer .footertext p{
    font-size: 14px;
    color: #777777;
    line-height: 25px;
}
.section-8 .footer .footertext p .link{
    color: #8490ff;
    text-decoration: none;
}
.section-8 .footer .footertext .subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    left: 0;
}
.section-8 .footer .footertext input{
    border: none;
    outline: 0;
    padding: 15px 180px 15px 20px;
    font-size: 14px;
}
.section-8 .footer .footertext .subscribe i{
    padding: 15px;
    background-color: #8490ff;
    color: #fff;
}
.section-8 .footer .footertext .footericon i{
    padding: 20px 10px;
    color: #fff;

}
.section-8 .footer .footertext .footericon i:hover{
    color: #8490ff;

}

/* footer section end */





